@model Product 

@{ 
    ViewData["Title"] = "Add Product";
    Layout = "_AdminLayout";
}
<form method="post" asp-action="Create" class="text-center">
    <div asp-validation-summary="All"></div>
    <p>
        <label>Name</label><br />
        <input asp-for="Name" type="text" />
    </p>
    <p>
        <label>Category</label><br />
        <input asp-for="Category" type="text" />
    </p>
    <p>
        <label>Price</label><br />
        <input asp-for="Price" type="text" />
    </p>
    <p>
        <label>Description</label><br />
        <input asp-for="Description" type="text" />
    </p>
    <input type="submit" />
</form>