@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-group mr-1">
        <a class="btn btn-secondary" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <div class="btn-group mr-2">
        <a class="btn btn-secondary" asp-controller="Account" asp-action="Registration">Registration</a>
        <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Sign in</a>
    </div>
}