@model Product
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1>@Model.Name</h1>
    <h5>@Model.Category</h5>
    <h3>@Model.Price.ToString("c")</h3>
</div>